.circle1 {
    margin-left:200px;
    background: #45d947;
    border: 0.1875em solid #0F1C3F;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 5em;
    width: 5em;
}

.circle2 {
    margin-left:200px;
    background: #d9454a;
    border: 0.1875em solid #0F1C3F;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 5em;
    width: 5em;
}

.rectangle1 {
    margin-left: 50px;
    width: 80px;
    height: 50px;
    background: #2fff00;
}

.rectangle2 {
    margin-left: 50px;
    width: 80px;
    height: 50px;
    background: #d9454a;
}

.colorGreen {
    margin-left: 100px;
    padding: 5px;
    background-color: lightgreen;
}

.colorRed {
    padding: 5px;
    background-color: indianred;
}